body {
  background-color: #888;
  font-size: 1em;
  margin: 0;
}
#questions, #showQuestion, #round, #restart, #nextQuestions, #timer, .counter, .team {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-2, #restart, #container-3, .addPoint, .counter::-webkit-inner-spin-button {
  position: relative;
}
#container-1 {
  width: 50em;
  height: 15em;
  margin: auto;
  border: .2em groove #777;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
#questions {
  background-color: #0c0;
  width: 100%;
  height: 70%;
  margin: 0;
  font-size: 3em;
}
#showQuestion {
  background-color: blue;
  width: 100%;
  height: 30%;
  border: 0;
  font-size: 2em;
  color: black;
  cursor: pointer;
}
#container-2 {
  width: 45em;
  height: 3em;
  margin: auto;
}
#round,#restart,#nextQuestions {
  width: 10em;
  height: 100%;
  background-color: yellow;
  font-size: 1.2em;
}
#round {
  float: left;
}
#restart {
  left: 3.8em;
  border-width: 0;
}
#nextQuestions {
  float: right;
  border-width: 0;
}
#container-3 {
  width: 85em;
  height: 30em;
  display: flex;
  justify-content: center;
  margin: auto;
  top: 2em;
}
#leftColumn,
#rightColumn {
  width: 35em;
}
.team {
  width: 15em;
  height: 1.5em;
  font-size: 2em;
  margin: auto;
  border-bottom: 0.1em solid red;
}
.teamName {
  display: inline;
}
.changeTeamNameInput{
  width: 16em;
  height: 2em;
  background-color: transparent;
  border: .2em solid #444;
  transform: skew(160deg);
  display: none;
}
.changeTeamNameButton, .saveNameButton{
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  outline: none;
  font-size: .4em;
}
.changeTeamNameButton {
  display: inline;
}
.saveNameButton {
  display: none;
}
.addPoint {
  background-color: transparent;
  border: none;
  width: 1.5em;
  height: 1.5em;
  font-size: 3em;
  left: 40%;
  outline:none;
}
.SVGcontainer {
  width: 100%;
  height: 22.3em;
  overflow-y: auto;
}
.eachSVG {
  transform: scale(.5,.5);
  margin-right: -3em;
  margin-left: -.5em;
  margin-bottom: -3em;
}
#middleColumn{
  width: 15em;
  height: 10em;
}
#timer {
  width: 15em;
  height: 3em;
  border-bottom: .3em solid transparent;
}
.timerButton{
  background-color: pink;
  border: none;
  margin-left: .3em;
  outline: none;
  font-size: 1.3em;
}
#controls {
  width: 10.5em;
  height: 5em;
  margin: auto;
}
#restartTimer {
  margin-left: 10%;
  margin-top: 0.2em;
}
.counter {
  width: 1.3em;
  height: 1em;
  background-color: transparent;
  font-size: 3em;
  text-align: center;
  border: transparent;
  outline: none;
}
#separate {
  font-size: 4em;
}
.counter::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width: none;
    color: #333;
    text-align:center;
}
.counter::-webkit-inner-spin-button:before,
.counter::-webkit-inner-spin-button:after {
    content: "^";
    position: relative;
    right: 0;
    font-family:monospace;
    line-height: 2em;
}
.counter::-webkit-inner-spin-button:before {
    top:0;
}
.counter::-webkit-inner-spin-button:after {
    bottom:0;
    -webkit-transform: rotate(180deg);
}
